.app{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1rem 2rem;
        background-color: hsl(10, 79%, 65%);
        border-radius: 12px;

    }
    .main-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
        justify-content: space-between;

        padding: 1rem 2rem;
        background-color: hsl(33, 100%, 98%);
        border-radius: 12px;

        .summary-container{
            display: flex;
            justify-content: space-between;
        }

    }
}